body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	/* Center container with content */
	text-align: center;
}

#portrait {
	border-radius: 50%;
	overflow: hidden;
	width: 19em;
	height: 19em;
}

#container {
	display: inline-block;
	text-align: left;
	margin-top: 8%;
}

#container>* {
	float: left;
}

#content {
	margin-left: 50px;
}

hr {
	border: 1px solid rgb(175, 175, 175);
}

header {
	margin-top: 0.35em;
	margin-left: -4px;
	font-size: 3.25em;
}

header strong {
	font-weight: 700;
}

a {
	color: rgb(40, 40, 40);
}

img.button {
	width: 48px;
}

ul#socialbar {
	list-style: none;
	padding: 0px;
	margin-top: 3.5em;
}

ul#socialbar li {
	display : inline-block;
	margin-right: 7px;
}

span.small-space {
	letter-spacing: -0.025em
}

div.button {
	background: url(img/sprites_small.png) no-repeat top left;
	width: 50px;
	height: 50px;
}

#email_btn:hover {
	background-position: 0 0;
}

#email_btn {
	background-position: 0 -60px;
}

#github_btn:hover {
	background-position: 0 -120px;
}

#github_btn {
	background-position: 0 -180px;
}

#instructables_btn:hover {
	background-position: 0 -240px;
}

#instructables_btn {
	background-position: 0 -300px;
}

#soupio_btn:hover {
	background-position: 0 -360px;
}

#soupio_btn {
	background-position: 0 -420px;
}

#speakerdeck_btn:hover {
	background-position: 0 -480px;
}

#speakerdeck_btn {
	background-position: 0 -540px;
}

#twitter_btn:hover {
	background-position: 0 -600px;
}

#twitter_btn {
	background-position: 0 -660px;
}

#recently {
	float: none;
	margin-top: 340px;
	margin-left: 50px;
}

#recently>iframe {
	border: none;
	width: 100%;
	height: 8em;
}

#more {
	float: right;
}